# Data Wrangling I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a clear
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas data frame.
4. Data Preprocessing: check for missing values in the data using pandas insult(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables
etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that y

In [1]:
import numpy as np
import pandas as pd
# pip install scikit-learn
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/manish0222/TE_SEM_6/main/ds_lab/ASGN1/melb_data_1.csv")
df.head(7)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0

In [3]:
# custom dframe
# dl={'keys':['B','C','B','B','D'],'Gender':['M','F','M','F','M']}
# dl=pd.DataFrame(dl)
# dl

In [4]:
df.describe() 
#count of non null
#mean ,std dev
#q1 25% values lie below
#median
#q3 75%value slie below this
#min n max value of col

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
df.shape

(13580, 21)

In [6]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [8]:
# df.astype({'Distance':float,'Regionname':str,'CouncilArea':bool,'YearBuilt':int})
print(df['YearBuilt'].unique())
df.astype({'Landsize':int})
df.dtypes

[  nan 1900. 2014. 1910. 1890. 2005. 2009. 1880. 1985. 2010. 1970. 2013.
 2012. 1920. 1950. 1998. 1930. 2016. 1965. 1980. 2011. 2015. 1975. 1993.
 1960. 2003. 1995. 1996. 2000. 1925. 2004. 2008. 1962. 1955. 1988. 1953.
 1997. 1990. 2007. 1967. 1964. 1889. 1888. 2006. 1934. 1935. 1966. 1969.
 1940. 1938. 1887. 1904. 1972. 1978. 1939. 1945. 1947. 1958. 2017. 1999.
 1992. 1961. 1928. 1977. 1976. 2001. 1948. 1927. 1981. 1943. 1974. 1968.
 1957. 1987. 1986. 1926. 2002. 1994. 1949. 1905. 1912. 1924. 1952. 1991.
 1942. 1973. 1915. 2018. 1916. 1982. 1971. 1963. 1897. 1989. 1919. 1923.
 1983. 1903. 1830. 1895. 1937. 1908. 1913. 1917. 1885. 1902. 1854. 1850.
 1898. 1941. 1951. 1946. 1956. 1984. 1901. 1959. 1979. 1933. 1886. 1929.
 1906. 1870. 1932. 1875. 1863. 1918. 1893. 1856. 1860. 1877. 1894. 1914.
 1868. 1884. 1907. 1954. 1922. 1921. 1896. 1872. 1196. 1892. 1862. 1936.
 1857.]

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# NULL CHECK

In [11]:
# Check for null values in each column
# null_columns = df.columns[df.isnull().any()].tolist()
numeric_col = df.select_dtypes(include=np.number).columns.tolist()
cols_to_fill=['Car','Landsize','BuildingArea','YearBuilt','CouncilArea']
# df[cols_to_fill]=df[cols_to_fill].fillna(df[cols_to_fill].mean())
df=df.bfill()
df=df.ffill()
df.isna().sum()
# To remove the null values we use this
# df.interpolate(inplace=True)

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [12]:
v=df['Rooms'].unique() # unique values present in column
print("length ",v.size)
v

length  9

array([ 2,  3,  4,  1,  6,  5,  8,  7, 10], dtype=int64)

# Categorical Replacement

In [13]:
print("Original DataFrame:")
df.head(5)

Original DataFrame:

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,79.0,1900.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,142.0,2014.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [15]:
# 1. Label Encoding for 'Rooms'
df['Rooms'].replace([1,2,3,4,5,6,7,8,10],
                    ['1BHK','2BHK','3BHK','4BHK','5BHK','6BHK','7BHK','8BHK','10BHK'],inplace=True)
label_encoder = LabelEncoder()
df['Rooms_LabelEncoded'] = label_encoder.fit_transform(df['Rooms'])
new_arr=['Rooms_LabelEncoded','Rooms']
# Display the DataFrame after Label Encoding for 'Rooms'
print("\nDataFrame after Label Encoding for 'Rooms':")
df[new_arr]

DataFrame after Label Encoding for 'Rooms':

       Rooms_LabelEncoded Rooms
0                       2  2BHK
1                       2  2BHK
2                       3  3BHK
3                       3  3BHK
4                       4  4BHK
...                   ...   ...
13575                   4  4BHK
13576                   3  3BHK
13577                   3  3BHK
13578                   4  4BHK
13579                   4  4BHK

[13580 rows x 2 columns]

In [16]:
#2 one hot encoding
df_encoded=pd.get_dummies(df,columns=['Rooms'],prefix='rooms')
df_encoded

,Suburb,Address,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,Rooms_LabelEncoded,rooms_10BHK,rooms_1BHK,rooms_2BHK,rooms_3BHK,rooms_4BHK,rooms_5BHK,rooms_6BHK,rooms_7BHK,rooms_8BHK
0,Abbotsford,85 Turner St,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,...,2,False,False,True,False,False,False,False,False,False
1,Abbotsford,25 Bloomburg St,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,...,2,False,False,True,False,False,False,False,False,False
2,Abbotsford,5 Charles St,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,...,3,False,False,False,True,False,False,False,False,False
3,Abbotsford,40 Federation La,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,...,3,False,False,False,True,False,False,False,False,False
4,Abbotsford,55a Park St,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,...,4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,...,4,False,False,False,False,True,False,False,False,False
13576,Williamstown,77 Merrett Dr,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,...,3,False,False,False,True,False,False,False,False,False
13577,Williamstown,83 Power St,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,...,3,False,False,False,True,False,False,False,False,False
13578,Williamstown,96 Verdon St,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,...,4,False,False,False,False,True,False,False,False,False
13579,Yarraville,6 Agnes St,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,...,4,False,False,False,False,True,False,False,False,False

In [17]:
df['room_copy']=df['Rooms']
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Rooms_LabelEncoded,room_copy
0,Abbotsford,85 Turner St,2BHK,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,202.0,79.0,1900.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,2,2BHK
1,Abbotsford,25 Bloomburg St,2BHK,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,2,2BHK
2,Abbotsford,5 Charles St,3BHK,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,3,3BHK
3,Abbotsford,40 Federation La,3BHK,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,94.0,142.0,2014.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,3,3BHK
4,Abbotsford,55a Park St,4BHK,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,4,4BHK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4BHK,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,652.0,133.0,1981.0,Maribyrnong,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,4,4BHK
13576,Williamstown,77 Merrett Dr,3BHK,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,333.0,133.0,1995.0,Maribyrnong,-37.85927,144.87904,Western Metropolitan,6380.0,3,3BHK
13577,Williamstown,83 Power St,3BHK,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,436.0,157.0,1997.0,Maribyrnong,-37.85274,144.88738,Western Metropolitan,6380.0,3,3BHK
13578,Williamstown,96 Verdon St,4BHK,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,866.0,157.0,1920.0,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0,4,4BHK
13579,Yarraville,6 Agnes St,4BHK,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,362.0,112.0,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,4,4BHK

In [18]:
#Min Max Normaliation
df['room_copy']=(df['room_copy']-df['room_copy'].min())/(df['room_copy'].max()-df['room_copy'].min())
df

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
df.drop(['room_copy'],axis=1,inplace=True)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Rooms_LabelEncoded
0,Abbotsford,85 Turner St,2BHK,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,202.0,79.0,1900.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,2
1,Abbotsford,25 Bloomburg St,2BHK,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,2
2,Abbotsford,5 Charles St,3BHK,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,3
3,Abbotsford,40 Federation La,3BHK,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,1.0,94.0,142.0,2014.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,3
4,Abbotsford,55a Park St,4BHK,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4BHK,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,652.0,133.0,1981.0,Maribyrnong,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,4
13576,Williamstown,77 Merrett Dr,3BHK,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,333.0,133.0,1995.0,Maribyrnong,-37.85927,144.87904,Western Metropolitan,6380.0,3
13577,Williamstown,83 Power St,3BHK,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,4.0,436.0,157.0,1997.0,Maribyrnong,-37.85274,144.88738,Western Metropolitan,6380.0,3
13578,Williamstown,96 Verdon St,4BHK,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,5.0,866.0,157.0,1920.0,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0,4
13579,Yarraville,6 Agnes St,4BHK,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,362.0,112.0,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,4

In [20]:
r=np.array(df['Price'])
n=len(r)
mean=sum(r)/n
r=sorted(r)
median=0
if n%2==0:
    median=(r[n//2-1] + r[n//2])/2
else:
    median=(r[n//2])
    
mode={}
for i in r:
    if i not in mode:
        mode[i]=1
    else:
        mode[i]+=1
mod=max(mode,key=mode.get)

var = sum((x-mean)**2 for x in r)/n
print(f"mean {mean} median {median} : mode {mod}")
std=var**0.5
print(f"{var} {std}")
print(f"{np.mean(r)}  {np.median(r)}  {np.std(r)} ")

mean 1075684.079455081 median 903000.0 : mode 1100000.0
408688105130.5183 639287.1851762072
1075684.079455081  903000.0  639287.1851762069